{% extends 'main/base.html' %}

{% block app_content %}
    <div class="container mt-4" style="min-width: 1170px">
        <table style="margin: 60px auto 35px;">
            <tr>
                <td><img src="{{ url_for('static', filename = 'images/Avatar.jpg') }}" width="115%" height="115%" style="border-radius: 100px"></td>
                <td><table style="margin-left: 50px">
                    <tr>
                        <td><b>Аминов Дамир Азатович <br> Python программист </b></td>
                    </tr>
                    <tr>
                        <td style="padding: 6px">Дата рождения</td>
                        <td class="text-center">09 декабря 2000 года</td>
                    </tr>
                    <tr>
                        <td style="padding: 6px">Место проживания:</td>
                        <td class="text-center">г. Ревда</td>
                    </tr>
                    <tr>
                        <td style="padding: 6px">Телефон:</td>
                        <td class="text-center"><a href="tel:+79222933944">+7 (922) 293-39-44</a></td>
                    </tr>
                    <tr>
                        <td style="padding: 6px">Email: </td>
                        <td class="text-center"><a href="mailto:damiraminov1@yandex.ru">damiraminov1@yandex.ru</a></td>
                    </tr>
                    <tr>
                        <td style="padding: 6px">Github: </td>
                        <td class="text-center"><a href="https://github.com/hecronk">
                            <img src="{{ url_for('static', filename = 'icons/github.svg') }}"></a>
                            <a href="https://github.com/hecronk">перейти</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 6px">Telegram: </td>
                        <td class="text-center"><a href="https://t.me/hecronk">
                            <img src="{{ url_for('static', filename = 'icons/telegram.svg') }}"></a>
                            <a href="https://t.me/hecronk">перейти</a>
                        </td>
                    </tr>
                </table></td>
            </tr>
        </table>
        <br>
            <div class="text-center">
                <h3>Опыт работы</h3>
            </div>
        <br>
        <table>
            <tr>
                <td style="padding: 6px; width: 200px" class="text-center">01.07.2020 - 23.07.2020</td>
                <td style="padding: 6px">&bull; Прохождение учебной практики по программированию python.
                    Исследование датасета с использованием библиотек python (pandas, matplotlib, sklearn).</td>
            </tr>
            <tr>
                <td style="padding: 6px; width: 200px" class="text-center">07.07.2021 - 23.07.2021</td>
                <td style="padding: 6px">&bull; Прохождение учебной практики по программированию python в компании ООО “К ТЕЛЕКОМ”.
                    Разработка сервиса для загрузки статических файлов (CherryPy, Jinja2)</td>
            </tr>
            <tr>
                <td style="padding: 6px; width: 200px" class="text-center">30.12.2021 - 27.01.2022</td>
                <td style="padding: 6px">&bull; Наставник онлайн курса Python-разработки в IT School Maxima.
                    Ответы на вопросы учеников курса в чате. Проверка домашних заданий. Проведение онлайн консультаций.</td>
            </tr>
        </table>
        <br>
            <div class="text-center">
                <h3>Образование</h3>
            </div>
        <br>
        <table>
            <tr>
                <td style="padding: 6px; width: 200px" class="text-center">2016 - 2019</td>
                <td style="padding: 6px">Лицей ГБПОУ "Свердловский областной медицинский колледж"</td>
            </tr>
            <tr>
                <td style="padding: 6px; width: 200px" class="text-center">2019 - ...</td>
                <td style="padding: 6px">Уральский Государственный Университет Путей Сообщения.
                    Направление подготовки: 09.03.02 “Информационные системы и технологии”
                    (3 курс, очное отделение, бакалавр, бюджет)</td>
            </tr>
        </table>
        <br>
            <b>Дополнительное образование</b>
        <br>
        <table>
            <tr>
                <td style="padding: 6px; width: 200px" class="text-center">2010 - 2018</td>
                <td style="padding: 6px">Английский язык. Окончил общий курс, соответствующий уровню B2 UPPER-INTERMEDIATE,
                    согласно Общеевропейской шкале уровней владения иностранным языком CEFR.</td>
            </tr>
            <tr>
                <td style="padding: 6px; width: 200px" class="text-center">2021</td>
                <td style="padding: 6px">Окончил курс “Анализ данных в индустрии” от Тинькофф Образование</td>
            </tr>
        </table>
        <br>
            <div class="text-center">
                <h3>Навыки</h3>
            </div>
        <br>
        <p>
            &bull; Разработка приложений на Python (frameworks: Flask, CherryPy), C#, Unity (Android); <br>
            &bull; Знание языка запросов PostgreSQL, MySQL, SQLite; <br>
            &bull; Опыт написания ботов для Telegram; <br>
            &bull; Знание языка разметки HTML + CSS; <br>
            &bull; Опыт создания виртуальной частной сети (VPN); <br>
            &bull; Уверенный пользователь Linux, Windows, Android; <br>
            &bull; Вождение автомобилей категории B, стаж 2 года; <br>
            &bull; Опыт администрирования: настройка, поддержка периферийных устройств, настройка и обслуживание
            ПК и Android (переустановка Windows, перепрошивка Android); <br>
            &bull; Виртуализация – Virtual Box, VMware; <br>
            &bull; Навык слепой печати; <br>
            &bull; Знание Git-Console. <br>
        </p>
        <div class="text-center">
            <a href="{{ url_for('main.projects') }}">
                <button type="button" class="btn btn-default" style="margin: 100px; width: 300px; height: 50px">Посмотреть мои проекты</button>
            </a>
        </div>
    </div>
{% endblock %}