{% extends 'main/base.html' %}

{% block title %}
    Мои проекты - Аминов Дамир Азатович
{% endblock %}


{% block app_content %}
    <div class="container mt-4" style="min-width: 1170px">
        <div class="text-center">
            <h3>Мои основные проекты:</h3>
        </div>
        <div>
            <p>
                <a href="https://github.com/hecronk/TimetableHecronkUSPUTelegramBot" style="text-decoration: none">
                    <img src="{{ url_for('static', filename = 'icons/telegram.svg') }}" alt="" width="120" height="96" class="d-inline-block align-text">
                </a>
                <a href="https://github.com/hecronk/TimetableHecronkUSPUTelegramBot">Бот в Telegram</a>
            </p>
            <p>
                УрГПУ Расписание - бот для просмотра актуального расписания. Написан на Python, с использованием aiogram. <br>
                Работает 24/7 и выполняет роль агрегатора актуального расписания УрГПУ. <a href="https://t.me/USPU_TIMETABLE_bot">Открыть бота в Telegram</a>
            </p>
            <p>
                <img src="{{ url_for('static', filename = 'images/TelegramBotScreenshot1.jpg') }}"> <br><br>
                <img src="{{ url_for('static', filename = 'images/TelegramBotScreenshot2.jpg') }}">
            </p>
            <p>
                <a href="https://github.com/hecronk/FileUploadService" style="text-decoration: none">
                    <img src="{{ url_for('static', filename = 'icons/file-earmark-arrow-up-fill.svg') }}" alt="" width="120" height="96" class="d-inline-block align-text">
                </a>
                <a href="https://github.com/hecronk/FileUploadService">Облачное хранилище</a>
            </p>
            <p>
                Облачное хранилище - сервис с веб интерфейсом для загрузки и хранения файлов. Написан на Python, с использованием веб-фреймворка CherryPy. <br>
                Получение файлов реализовано с помощью API.
            </p>
            <p>
                <img src="{{ url_for('static', filename = 'images/FileUploadServiceScreenshot1.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FileUploadServiceScreenshot2.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FileUploadServiceScreenshot3.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FileUploadServiceScreenshot4.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FileUploadServiceScreenshot5.jpg') }}">
            </p>
            <p>
                <a href="https://github.com/hecronk/FlaskLearning" style="text-decoration: none">
                    <img src="{{ url_for('static', filename = 'icons/chat-right-text-fill.svg') }}" alt="" width="120" height="96" class="d-inline-block align-text">
                </a>
                <a href="https://github.com/hecronk/FlaskLearning">Социальная сеть</a>
            </p>
            <p>
                Социальная сеть - проект, написанный на Python, который создавался с целью изучения веб-фреймворка Flask. <br>
                Имеет основной функционал социальных сетей (пользователи, личные страницы, подписки, лента). Реализована система регистрации пользователей, восстановления пароля.
            </p>
            <p>
                <img src="{{ url_for('static', filename = 'images/FlaskLearningScreenshot1.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FlaskLearningScreenshot2.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FlaskLearningScreenshot3.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FlaskLearningScreenshot4.jpg') }}">
                <img src="{{ url_for('static', filename = 'images/FlaskLearningScreenshot5.jpg') }}">
            </p>
        </div>
    </div>
{% endblock %}